.mat-radio-button{
    margin-left: 15px;
    margin-top: 20px;
    margin-bottom: 25px;
}
form{
  margin-left: 250px;
  margin-right: 260px;
  box-shadow: 5px;
  border: 1px solid black;
  padding-left: 50px;
  padding-bottom: 10px;
}
h2{
  color: rgb(194, 83, 151);
  margin-top: 50px;
   margin-left: 250px;
}
button{
  margin-left: 20px;
}